.footer {
    background: linear-gradient(to right,#EBEBEB ,#E6E6E6 100%);
    font-family: 'marmelad', 'sans-serif';
}

.footer__inner {
    padding-top: 100px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.footer__block {
    display: flex;
    flex-direction: column;
}

.footer__block:last-child {
    text-align: right;
}

.footer__text--sm {
    font-size: 18px;
    color: #000000;
}

.footer__text--md {
    font-size: 21px;
    line-height: 32px;
}

.footer__text-margin {
    margin-bottom: 10px;
}

.footer__text--lg {
    font-size: 28px;
    color: #000000;
    margin-bottom: 10px;
}

.footer__title {
    font-size: 55px;
    color: #3B474E;
    margin-bottom: 50px;
}

.text-center {
    text-align: center;
}

.footer__scroll {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer__scroll img {
    margin-right: 10px;
}

.footer__city svg {
    width: 20px;
    height: 20px;
    fill: #3B474E;
    margin-right: 3px;
}

.footer__btn {
    margin-top: 50px;
    font-size: 15px;
    color: #000;
    padding: 13px;
    border: 2px solid #007CD5;
    cursor: pointer;
    background: transparent;
}

.footer__btn > span {
    display: block;
    transition: .5s;
}

.footer__btn:hover span {
    transform: scale(.95);
    color: #007CD5;
}

.footer__maps {
    margin-right: calc(50% - 50vw + 9px);
    margin-left: calc(50% - 50vw + 8px);
}

.footer__maps > ymaps {
    width: 100% !important;
}

@media (max-width: 840px) {
    .footer__block, .footer__block:last-child {
        width: 100%;
        text-align: center;
        padding: 25px 0;
    }
    
    .footer__block:not(:last-child) {
        border-bottom: 1px solid #fff;
    }
}

@media (max-width: 360px) {
    .footer__title {
        font-size: 50px;
    }
}