.header {
    font-family: 'Marmelad', sans-serif;
    background: url("../img/header/header-bg.jpg");
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    transition: .5s;
}

.header--blue {
    color: #B6E0FF;
}

.header__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 183px;
}

.header__top {
    padding: 36px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__site-name > span, .header__city, .header__street {
    font-size: 18px;
}

header__adderss {
    display: flex;
    flex-direction: column;
}

.header__city {
    display: flex;
    color: #B6E0FF;
    justify-content: center;
}

.header__city svg {
    width: 20px;
    height: 20px;
    fill: #B6E0FF;
    margin-right: 7px;
}

.header__contact {
    display: flex;
}

.header__contact-text {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.header__phone {
    font-size: 22px;
}

.header__email {
    font-size: 16px;
}

.header__btn {
    perspective: 400px;
    height: 42px;
    position: relative;
    overflow: hidden;
}

.header__btn > button::before, .header__btn > button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    transform: skewX(-6deg);
    height: 42px;
    background: white;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff6e 50%, rgba(255, 255, 255, 0) 100%);
}

.header__btn > button::before {
    animation: btn-header 2s ease-in-out 0s infinite;
}

.header__btn > button::after {
animation: btn-header 2s ease-in-out .2s infinite;
}

@keyframes btn-header {
    60% {
        left: -30px;
    }
    
    100% {
        left: 187px;
    }
}

.header__btn > button {
    width: 187px;
    height: 42px;
    background: transparent;
    overflow: hidden;
    background-image: url("../img/header/btn.png");
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: .5s;
    
    transform: rotateY(0);
}

.header__btn:hover button {
//    margin-top: 5px;
    transform: rotateY(340deg);
}

//MENU
//*****************************

.header__menu {
    width: 100%;
    border: 1px solid #fff;
    border-right: 0;
    border-left: 0;
}

.header__list {
    display: flex;
    justify-content: center;
}

.header__item > a {
    padding: 11px 20px;
    font-size: 17px;
    display: block;
    transition: .5s;
}

.header__item > a:hover {
    color: #6170e2;
    filter: blur(1px);
}

//INFO
//**************************

.header__info {
    align-self: flex-end;
    margin-top: 116px;
    position: relative;
    transition: .5s;
}

.header__title {
    font-family: 'Andika', sans-serif;
    font-size: 60px;
    border-bottom: 1px solid #fff;
}

.header__info > img {
    margin-top: 13px;
}

.header__description {
    margin-top: 38px;
    font-size: 28px;
    line-height: 42px;
    text-shadow: 0px 0px 7px rgba(0,0,0,0.75),0px 0px 7px rgba(0,0,0,0.75)/* glow */,
1px 1px 4px rgba(0,0,0,0.76)/* drop shadow*/
}

//CALLBACK
//*****************************

.callback.d-b {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.callback {
    position: fixed;
    max-width: 320px;
    background: url("../img/header/callback_bg.png");
    background-size: cover;
    transform: translateX(-50%) translateY(-100%);
    left: 50%;
    top: -20px;
    box-shadow: 0px 0px 10px 6px rgba(182,224,255,0.5);
    border: 1px solid #fff;
    z-index: 11111;
    transition: 1s;
}

.callback__wrap {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 340px;
    padding: 0 10px;
}


::-webkit-scrollbar {
    width: 10px;
}

.callback__wrap::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .8);
}

::-webkit-scrollbar-thumb {
    background: #B6E0FF;
    border-radius: 5px;
}

.callback__close {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -16px;
    right: -16px;
    cursor: pointer;
}

.callback__close::after, .callback__close::before {
    position: absolute;    
    content: '';
    width: 22px;
    height: 2px;
    background: #fff;
}

.callback__close::after {
    transform: rotate(45deg);
}

.callback__close::before {
    transform: rotate(-45deg);
}

.callback span {
    font-family: 'Andika', sans-serif;
    font-size: 23px;
    color: #fff;
    margin: 25px 0;
    display: block;
    text-align: center;
}

.callback input {
    font-family: 'Andika', sans-serif;
    font-size: 16px;
    color: #4F4F4F;
    padding: 12px 6px 6px 6px;
//    margin-left: 50%;
//    transform: translateX(-50%);
    margin-bottom: 25px;
    width: 234px;
    border-radius: 3px;
    border: 0;
}

.callback input[type="submit"] {
    height: 52px;
    background: rgba(0, 10, 38, 0.88);
    background-image: url("../img/header/btn.png");
    overflow: hidden;
    background-size: cover;
    cursor: pointer;
}

.callback input[disabled] {
    cursor: auto;
}

.callback__wrap form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callback input::placeholder {
    font-family: 'Andika', sans-serif;
    font-size: 16px;
    color: #3B3B3B;
}

@media (max-height: 360px) {
    .callback__wrap {
        height: 300px;
    }
}

@media (max-width: 860px) {

    body.lock {
        overflow: hidden;
    }
    
    .header__burger {
        position: relative;
        z-index: 111;
        width: 30px;
        height: 20px;
    }
    
    .header__burger:after,
    .header__burger:before {
        content: '';
        display: block;
        position: absolute;
        
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        
        transition: $trans;
    }
    
    .header__burger:after {
        bottom: 0;
    }
    
    .header__burger:before {
        top: 0;
    }

    .header__burger span {
        position: absolute;
        top: 9px;
        
        width: 100%;
        height: 2px;
        background: #fff;
        
        transition: $trans;
    }
    
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    
    .header__burger.active span {
        display: none;
    }
    
    .header__menu {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: #6170e2;
        padding-top: 70px;
        overflow: auto;
        
        transition: $trans; 
    }
    
    .header__menu.active {
        left: 0;
    }
    
    .header__list {
        flex-direction: column;
        align-items: flex-end;
        margin-right: 30px;
    }
}

@media (max-width: 400px) {
    .header__title {
        font-size: 50px;
    }
    
    .header__contact {
        flex-direction: column;
    }
}