.testimonials {
    background-image: url("../img/testimonials/bg.jpg");
    background-size: cover;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.23), 0px 0px 8px rgba(0,0,0,0.23);
}

.testimonials__inner {
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.testimonials__item {
    width: 50%;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.testimonials__img-wrap {
    min-width: 123px;
    min-height: 123px;
}

.testimonials__img-wrap, .testimonials__img {
    border-radius: 50%;
    background: #146FCE;
}

.testimonials__img {
    border: 2px solid #fff;
    width: 112px;
    height: 112px;
    margin: 5.5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__img > img {
    
}

.testimonials__info {
    margin: 0 10px;
}

.testimonials__card-title {
    font-size: 25px;
    color: #082332;
    font-family: 'marmelad', 'sans-serif';
    margin-bottom: 10px;
}

.testimonials__text {
    color: #000000;
    font-size: 18px;
    font-family: 'andika', 'sans-serif';
}

@media (max-width: 800px) {
    .testimonials__item {
        width: 100%;
    }
}

@media (max-width: 410px) {
    
    .testimonials__item {
        flex-direction: column;
    }
    
    .testimonials__img-wrap {
        margin-bottom: 10px;
    }
    
    .testimonials__text, .testimonials__card-title {
        text-align: center;
    }
    
}