.works {
    background-image: url("../img/works/bg.jpg");
    background-size: cover;
    font-family: 'marmelad', 'sans-serif';
}

.works__inner {
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works__sup-slider {
    font-size: 21px;
    color: #FFFFFF;
    border-bottom: 1px solid #8DCFFF;
    border-top: 1px solid #8DCFFF;
    margin-top: 25px;
    padding: 10px 0;
}

.works__slider {
    width: 65%;
    margin-top: 30px;
    box-shadow: 4px 4px 7px rgba(0,87,149,0.5);
}

.works__btn {
    margin-top: 50px;
}

.works__item {
    overflow: hidden;
}

.works__item > img {
    min-width: 100%;
}

.slick-slider {
    position: relative;
}

.slider__arrows-prev, .slider__arrows-next {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    
    width: 55px;
    height: 55px;
    border: 2px solid #B6E0FF;
    border-radius: 50%;
    font-size: 25px;
    color: #B6E0FF;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__arrows-prev {
    left: -5%;
}

.slider__arrows-next {
    left: 105%;
}