.brand {
	display: flex;
	background: #fff;
}

.brand__block {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.brand__block:first-child {
	margin-right: 50px;
}

.brand__item {
	width: 33.33333%;
	border-bottom: 1px solid rgba(55, 83, 218, 0.22);
	overflow: hidden;
	padding: 10px;
}

.brand__block:first-child .brand__item {
	border-right: 1px solid rgba(55, 83, 218, 0.22);
}

.brand__block:last-child .brand__item {
	border-left: 1px solid rgba(55, 83, 218, 0.22);
}

.brand__item img {
	margin-top: 50%;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	
	max-height: 100%;
	max-width: 100%;
}

//********************
//MEDIA
//********************

@media (max-width: 910px) {
	.brand__item {
		width: 50%;
	}
}

@media (max-width: 660px) {
	.brand__item {
		width: 100%;
	}
	
	.brand__block:first-child {
		margin-right: 25px;
	}
}