.features {
	background: #fff;
	display: flex;
	flex-wrap: wrap;
}

.features__item {
	width: 25%;
	padding: 60px;
}

.features__item:not(:nth-child(4)) {
	border-right: 1px solid rgba(13, 46, 87, 0.22);
}

.features__img {
	margin-bottom: 35px;
    text-align: center;
}

.features__img svg {
    height: 45px;
    fill: #5c5c5c;
}

.features__title {
	font-family: $bebas;
	font-size: 32px;
	color: #0d2e57;
	margin-bottom: 15px;
}

.features__description {
	font-family: $montserrat;
	font-size: 13px;
	color: #8a8a8a;
	margin-bottom: 15px;
	font-weight: 300;
}


.features__more a {
	font-family: $montserrat;
	font-size: 13px;
	color: #3753da;
	font-weight: 600;
}

.features__title, .features__description, .features__more {
	text-align: center;
}

//********************
//MEDIA
//********************

@media (max-width: 1070px) {
	.features__item {
		padding: 60px 20px;
	}
}

@media (max-width: 768px) {
	.features__item {
		width: 50%;
	}
	
	.features__item {
		border-top: 1px solid rgba(13, 46, 87, 0.22);
	}
}

@media (max-width: 450px) {
	.features__item {
		width: 100%;
	}
	
	.features__item {
		border: 0;
		border-top: 1px solid rgba(13, 46, 87, 0.22);
	}
}