.footer {
	background: #232323;
	font-family: $poppins;
	margin-top: -155px;
}

.footer__inner, .footer__links-item, .footer__right-block, .footer__social, .footer__form, .footer__form form {
	display: flex;
	flex-direction: column;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 85px;
	margin-top: 180px;
}

.footer__links {
	display: flex;
}

.footer__links-item {
	margin: 0 35px;
}

.footer__title {
	text-transform: uppercase;
	font-size: 25px;
	color: #3753da;
}

.footer__list {
	margin-top: 30px;
}

.footer__list-item {
	
}

.footer__list-item a {
	font-size: 18px;
	color: #fff;
}

.footer__right-block {
	justify-content: space-between;
	margin-right: 50px;
}

//ICONS SOCIAL

.footer__social {
	
}

.footer__social-icons {
	display: flex;
    flex-wrap: wrap;
}

.footer__social-icons a {
    height: 43px;
    min-width: 43px;
    border-radius: 50%;
    background: #fff;
    margin-right: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.footer__social-icons svg {
    fill: #232323;
}

.footer__form {
	
}

.footer__form form {
	
}

.footer__field {
	font-size: 18px;
	color: #fff;
	background: #2f2f2f;
	padding: 5px 20px;
	width: 100%;
	border-radius: 30px;
	border: 0;
	margin-bottom: 25px;
	margin-top: 5px;
	width: 350px;
}

.footer__field:focus {
	outline: 0;
}

.footer__button-form {
	
}

.footer__snippet {
	border-top: 1px solid rgba(255, 255, 255, 0.22);
	padding-top: 45px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 85px;
}

.footer__copyright {
	color: rgba(255, 255, 255, 0.32);
	font-size: 15px;
	line-height: 30px;
	margin-left: 35px;
}

.footer__cart-icons {
	
}

//********************
//MEDIA
//********************

@media (max-width: 1110px) {
	.footer__field {
		width: auto;
	}
}

@media (max-width: 970px) {
	.footer__content {
		flex-direction: column;
	}
	
	.footer__social {
		margin-bottom: 60px;
	}
	
	.footer__field {
		width: 400px;
	}
    
    .footer__right-block {
        text-align: center;
    }
    
    .footer__social-icons {
        justify-content: center;
    }
    
    .footer__form form {
        align-items: center;
        margin-top: 10px;
    }
    
    .footer__right-block {
        margin-right: 0;
    }
    
    .footer__right-block {
        margin-top: 25px;
    }
    
}

@media (max-width: 750px) {
	.footer__links {
		flex-direction: column;
		align-items: center;
	}
	
	.footer__list {
		margin-bottom: 30px;
	}
}

@media (max-width: 450px) {
	.footer__field {
		width: auto;
	}
	
	.footer__right-block {
		margin-right: 0;
	}
}