.images {
	display: flex;
	flex-wrap: wrap;
}

.images__item {
	width: 25%;
	overflow: hidden;
}

.images__item img {
	min-width: 100%;
	min-height: 100%;
	
	margin-top: 50%;
	margin-left: 50%;
	transform: translate(-50%, -50%);
}

//********************
//MEDIA
//********************

@media (max-width: 770px) {
	.images__item {
		width: 50%;
	}
}

@media (max-width: 450px) {
	.images__item {
		width: 100%;
	}
}