.intro {
	width: 100%;
	min-height: 100vh;
	background: url('../img/main-banner/banner.jpg');
	background-size: cover;
}

.intro__inner {
	display: flex;
	width: 50%;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
//	padding: 90px 0;
    padding-top: 90px;
    transition: all 1s ease-out;
}

.padding {
    padding-bottom: 80px;
}

.intro__title {
	width: 100%;
}

.intro__title h1 {
	font-size: 203px;
	font-family: $poppins;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 147px;	
	text-transform: uppercase;
}

.intro__subtitle {
	font-family: $montserrat;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding-top: 25px;
	letter-spacing: 10px;
}

.intro__btn {
	text-align: center;
	margin-top: 50px;
}


@media (max-width: 1325px) {
	
	.intro__inner {
		width: 70%;
	}
	
	.intro__title h1 {
		font-size: 180px;
		line-height: 132px;
	}
}

@media (max-width: 860px) {
	
	.intro__inner {
		width: 100%;
	}
}

@media (max-width: 630px) {
	
	.intro__title h1 {
		font-size: 112px;
		line-height: 83px;
	}
	
	.intro__subtitle {
		letter-spacing: 3px;
	}
}

@media (max-width: 630px) {
	
	.intro__title h1 {
		font-size: 80px;
		line-height: 60px;
	}
	
	.intro__subtitle {
		letter-spacing: 3px;
	}
}