.offer {
	background: #f2f0f0;
	display: flex;
	align-items: center;
	position: relative;
}

.offer__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	text-align: center;
	padding: 70px 110px;
}

.offer__suptitle {
	font-family: $poppins;
	font-size: 20px;
	color: #616161;
	margin-bottom: 30px;
	font-weight: 600;
}

.offer__title {
	font-family: $bebas;
	font-size: 42px;
	color: #0d2e57;
	margin-bottom: 40px;
}

.offer__description {
	font-family: $montserrat;
	font-size: 18px;
	color: #8a8a8a;
	margin-bottom: 30px;
}

//PRICE

.offer__price-block {
	display: flex;
	margin-bottom: 40px;
	align-items: center;
	justify-content: center;
}

.offer__price-now {
	font-family: $montserrat;
	font-size: 52px;
	color: #3954d9;
	font-weight: bold;
	margin-right: 50px;
}

.offer__price-old {
	font-family: $montserrat;
	font-size: 32px;
	color: #121212;
	font-weight: 500;
	text-decoration: line-through;
}

//TIMER
.offer__timer {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.offer__timer-block {
	background: #fff;
	padding: 20px 15px;
	border-radius: 20px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
}

.offer__timer-number {
	padding-bottom: 5px;
	font-family: $montserrat;
	font-size: 38px;
	color: #2d2b27;
	font-weight: 600;
//	border-bottom: 5px dotted #121212;
}

.offer__timer-points {
	font-family: $montserrat;
	font-size: 15px;
	color: #121212;
	margin-top: -15px;
}

.offer__timer-text {
	font-family: $montserrat;
	font-size: 11px;
	color: #2d2b27;
	font-weight: 600;
}

//IMG

.offer__img {
	width: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.offer__img img {
	margin-left: 50%;
	transform: translateX(-50%);
	height: 100%;
}

//********************
//MEDIA
//********************

@media (max-width: 1020px) {
	.offer {
		flex-direction: column;
	}
	
	.offer__content {
		width: 100%;
	}
	
	.offer__img {
		width: 100%;
		position: relative;
	}
}

@media (max-width: 700px) {
	.offer__content {
		padding: 70px 30px;
	}
}

@media (max-width: 430px) {
	.offer__title {
		font-size: 28px;
	}
	
	.offer__suptitle {
		font-size: 16px;
	}
	
	.offer__description {
		font-size: 16px;
	}
	
	.offer__price-now {
		font-size: 40px;
	}

	.offer__price-old {
		font-size: 25px;
	}
	
	.offer__timer-block {
		padding: 20px 10px;
	}
	
}