.company-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.company-info__item {
    font-size: 14px;
    color: #222;
    margin-bottom: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    
    a {
        text-decoration: underline;
    }
}

.company-info .company-info__block:nth-child(3) .company-info__item {
    font-size: 16px;    
}

.mail, phone {
    margin: 0;
}

.company-info__contact {
    
    display: flex;
    flex-direction: column;
    
    b {
        font-size: 20px;
        margin-bottom: 12px;
    }
    span {
        font-size: 14px;
        color: #767676;
    }
}

.map::before {
    content: url(../img/geo.png);
    margin-right: 23px;
}

.mail::before {
    content: url(../img/email.png);
    margin-right: 23px;
}

.price::before {
    content: url(../img/price.png);
    margin-right: 23px;
}

.phone::before {
    content: url(../img/phone.png);
    margin-right: 23px;
}