.breadcrumbs {
    width: 100%;
}

.breadcrumbs__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    font-size: 16px;
    
    a {
        color: #1e344c;
    }
    
    span {
        color: #666;
    }
    
}

.separator {
    margin: 0 5px;
}