footer {
    background: #1e344c;
    color: #fff !important;
}

footer .company-info__item, footer .company-info__contact span {
    color: #fff;
}

.footer__inner {
    padding: 60px 0;
}

footer .header__item {
    margin-right: 30px;
}

@media (max-width: 950px) {
    footer .header__menu {
        width: 100%;
        margin-bottom: 30px;
    }
}