.partners__inner {
    padding: 100px 0;
    
    h2 {
        font-size: 40px;
        color: #222;
        margin-bottom: 48px;
    }
}


.partners__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f3;
    width: 23%;
    padding: 15px;
    height: 155px;
    
    img {
        max-width: 100%;
    }
}

@media (max-width: 950px) {
    .partners__item {
        width: 47%;
        margin-bottom: 30px;
    }
}

@media (max-width: 760px) {
    .partners__item {
        width: 95%;
    }
    
    .partners__content {
    justify-content: center;
}
}