.post {
    
    h2 {
        margin-bottom: 16px;
    }
    
    h3 {
        font-size: 24px;
        color: #222;
        margin-bottom: 8px;
        font-weight: 500;
    }
    
    p {
        font-size: 16px;
        color: #222;
        margin-bottom: 20px;
    }
    
    ul {
        padding-left: 20px;
        margin-bottom: 30px;
    }
    
    li {
        font-size: 16px;
        color: #222;
        margin-bottom: 13px;
        list-style: disc;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        
        th {
            background: #1e344c;
            color: #fff;
        }
        
        td, th {
            padding: 15px 10px;
        }
        
        td {
            border-bottom: 1px solid #000;
        }
    }
}

.post__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    
    img {
        max-width: 390px;
    }
}