@font-face {
	font-family: 'Lato';
	src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff');
    font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff');
    font-display: swap;
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'LemonMilkbold';
	src: local('☺'), url('../fonts/LemonMilkbold.woff') format('woff');
    font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PeaceSans';
	src: local('☺'), url('../fonts/PeaceSans.woff') format('woff');
    font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pump';
	src: local('☺'), url('../fonts/Pump.woff') format('woff');
    font-display: swap;
	font-weight: normal;
	font-style: normal;
}

