.main-banner {
    width: 100%;
    background: #bc2e3a;
    position: relative;
}

.main-banner::before {
    content: '';
    background: url(../img/main-banner/background.png) no-repeat center;
    background-size: cover;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-banner__inner {
    position: relative;
    z-index: 100;
    padding: 240px 0 183px 0;
    margin-right: calc(50% - 50vw + 10px);
}

//IMG

.main-banner__gradient {
    z-index: -1;
    position: absolute;
    width: 830px;
    height: 899px;
    top: 3%;
    right: 13%;
    background: radial-gradient(circle, #ff7d7d70 0%, rgba(190, 143, 143, 0) 66%);
}

.main-banner__model-image {
    position: absolute;
    z-index: 100;
    background: url(../img/main-banner/front.png);
    width: 830px;
    height: 899px;
    top: 11%;
    right: 0;
}

//TITLE

.main-banner__title {
//    background-image: url(../img/s.png);
    font-family: $lemonMilkbold;
    h2 {
        color: #fff;
        font-size: 158.73px;
        text-transform: uppercase;
        line-height: 135px;
    }
    span {
        color: #fff;
        font-size: 96.09px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 85px;
        margin-bottom: 40px;
        display: block;
    }
    text-shadow: 1px 1px 24px #0000009c;
    position: relative;
    z-index: 10;
    text-align: center;
    width: 63.75%;
}

//BTN

.btn {
    font-family: $lato;
    font-weight: bold;
    padding: 15px 25px;
    font-size: 21.18px;
    display: inline-block;
    background: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    color: #242424;
	text-shadow: 0 0 0 #fff;
	transition: $trans;
}

.btn:hover {
	color: #a52323;
	transform: translateY(5px);
	box-shadow: 0px 1px 3px #000;
}

.btn--red:hover {
	background: #fff;
}

.btn--red {
    background: #bc2e3a;
    color: #fff;
}

//MEDIA

@media (max-width: 1439px) {
    .main-banner__model-image {
        z-index: 0;
    }
}

@media (max-width: 1045px) {
    .main-banner__model-image {
        display: none;
    }
    
    .main-banner__title {
        width: 100%;
    }
    
    .main-banner__inner {
        text-align: center;
    }
}

@media (max-width: 786px) {
    .main-banner__title {
        h2 {
            font-size: 100px;
            line-height: 86px;
        }
        span {
            font-size: 60px;
            line-height: 56px;
        }
    }
}

@media (max-width: 500px) {
    .main-banner__title {
        h2 {
            font-size: 19vw;
            line-height: 18vw;
        }
        span {
            font-size: 12vw;
            line-height: 12vw;
        }
    }
}