.who-we-are {
    overflow: hidden;
    position: relative;
}

.who-we-are::after {
    content: '';
    position: absolute;
    top: -6%;
    right: -30%;
    
    border: 711px solid transparent;
    border-top: 711px solid #171717;
}

.who-we-are__inner {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    z-index: 100;
}

.who-we-are__title {
    margin-bottom: 50px;
}

.who-we-are__description {
    margin-bottom: 70px;
}

.who-we-are__content {
    width: 42.5%;
}

.who-we-are__image {
    width: 57.5%;
    position: relative;
    margin-top: 15px;
}

.who-we-are__laptop {
    width: 100%;
}

.who-we-are__layer {
    position: absolute;
    top: 5.3%;
    left: 16.8%;
    right: 17.1%;
    bottom: 19%;
    overflow: hidden;
}

.who-we-are__layer img {
    width: 100%;
    margin-top: 32%;
    transform: translateY(-50%);
}

@media (max-width: 1270px) {
    .who-we-are::after {
        right: -85%;
    }
}

@media (max-width: 890px) {
    .who-we-are__inner {
        flex-direction: column;
    }
    
    .who-we-are__content, .who-we-are__image {
        width: 100%;
    }
    
    .who-we-are__content {
        text-align: center;
    }
    
    .who-we-are__image {
        margin-top: 70px;
    }
    
    .who-we-are::after {
        right: -30%;
        bottom: 0;
        top: auto;
        border-bottom: 500px solid #171717;
        border-top: 0;
    }
}